<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		
		background: #0d0d0d;
		color: #d4af37;
		font-family: 'Papyrus', fantasy;
		background-image: url('pattern.jpeg');
		background-blend-mode: multiply;
		background-color: rgba(0, 0, 255, 0.3);
		
		display: flex;
		flex-direction: column;
    	align-items: center;
    	justify-content: center;
		overflow: hidden;
	}


	
</style>
