<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talk to <%= title %></title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
    <div class="column">
        <div class="chat-window">
            <h2>You</h2>
            <textarea rows="2" cols="50" placeholder="Type your message here..."></textarea>
            <button class="button">Say</button>
        </div>
        <div">
          <img src="/images/ada.jpeg" alt="Ada Lovelace" style="width: 100px;">
          <img src="/images/davinci.png" alt="Ada Lovelace" style="width: 100px;">
          <img src="/images/dinocrates.png" alt="Ada Lovelace" style="width: 100px;">
          <img src="/images/montezuma.jpeg" alt="Ada Lovelace" style="width: 100px;">
          <img src="/images/sforza.png" alt="Ada Lovelace" style="width: 100px;">
        </div>
        <div>
            <h2><%= title %></h2>
            <div>
              <select id="list">
                <option value="dinocrates">Dinocrates</option>
                <option value="davinci">Da Vinci</option>
                <option value="sforza">Sforza</option>
                <option value="montezuma">Montezuma</option>
                <option value="ada">Ada Lovelace</option>
              </select>
              <!-- <select id="voices">
              </select> -->
              <span>
                <input type="checkbox" id="speak" >Hear your character speak (using Speech synthesis)</checkbox>
              </span>
              <button class="choose" id="btnChange">Change</button>
            </div>
            <textarea rows="4" cols="50" placeholder="Response will appear here..." disabled></textarea>
        </div>
    </div>
    <audio id="background" controls autoplay loop style="display:none;">
      <source src="<%= name %>.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
    <script src="/js/script.js"></script>
</body>
</html>

<!--
const utterance = new SpeechSynthesisUtterance(textInput);

            // Optional: Set voice and other properties
            utterance.voice = speechSynthesis.getVoices()[0]; // Choose the first available voice
            utterance.rate = 1; // Speed of the speech
            utterance.pitch = 1; // Pitch of the speech
            utterance.volume = 1; // Volume of the speech

            speechSynthesis.speak(utterance);


            -->
